:root{
    --dark: #3f3e3e;
    --aqua: #67f8f8; 
    --light: white; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
    color: var(--aqua); 
    background-color: var(--dark); 
    font-family:monospace; 
}

.hide {
    display:none; 
}

.show {
    display:block; 
}

.section {
    height: 100%; 
    width: 375px; 
    text-align: center; 
    border: 1px solid white; 
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Brain Breaks */
h1{
    font-size: 2.5em; 
    font-family: 'Major Mono Display', monospace;
    text-shadow: 3px 3px 8px var(--aqua);
    color: var(--aqua); 
}
/* -------------Welcome Page--------------- */
#welcome-alert{
    margin: 40px 0; 
}

.entername{
    font-family: monospace; 
    color: white;
    text-align: center;
}

.entername:focus {
    text-shadow: 2px 2px 5px white;
}

.btn {
    margin: 10px; 
    background-color: darkcyan;
    border: 2px white;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 0 0 30px var(--aqua);
    cursor: pointer;
}
/* --------------Set Timer Page----------------- */

#time_sel_cont>p{
    display:inline-block; 
    width: 160px; 
}

#focus-time, #calc_break_time {
    color: white; 
    text-shadow: 2px 2px 5px white;
}

#time_sel_cont_min {
text-align:left; 
}

#time_sel_cont_max {
text-align: right; 
}
output {
    display:block; 
    width: 100%;  
}

#set_time_btn{
    margin-top: 20px;

}

#time_select{
    width: 300px; 
}

#selected_time{
    margin-top:20px
}

output{
    margin-top: 20px;
    font-size: 1.5em;
}

#calc_break_time {
    font-size: 1.5em;
}

/* --------------Choose Category Page-------------- */

/* ---------------Timer Page--------------- */

#countdown svg{ 
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#playBtn, #pauseBtn, #resumeBtn {
    font-size: 50px; 
    color: var(--aqua); 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#playBtn:hover, #pauseBtn:hover, #resumeBtn:hover {
    cursor: pointer;
    text-shadow: 2px 2px 5px var(--aqua);
}

#plus_one{
    /* color: #fff; */
    font-size: 40px;
    border: 1px solid white; 
    color: white; 
    border-radius: 25px;
    padding: 5px;
    margin: 2rem 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#plus_one:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px white;
    text-shadow: 2px 2px 5px white;
}
#time_display{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#spotify {
    overflow-y:scroll; 
    margin-top: 50px; 
}
#spotify>iframe {
    margin-top: 10px; 
    height: 200px; 
    border:1px solid white;  
    box-shadow: 3px 3px 8px black;
}
/* ---------------Break Page----------------- */

#break-page{
    background-color: var(--aqua); 
}
#break-page {
    background-color: var(--aqua);
}

#good-job{
    font-size: 20px;
    color: var(--dark);
    background-color: var(--aqua);

}
#break-img{
    width: 50%; 
    box-shadow: 2px 2px 5px black;
}

#break-button:hover, #confetti:hover {
    box-shadow: 2px 2px 5px var(--dark);
}
/* --------------Meme Page------------------- */

.meme_viewer{
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

.swiper-slide{
    color: black;
    text-align: center;
    background-color: #242424;
    display: flex;
    align-items: center;
}

.swiper-container {
    width: 345px;
    height: 812px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #test_1{
      background-color: pink;
  }

#test_2{
    background-color: rgba(112, 197, 112, 0.753);   
  }

  #test_3{
    background-color: rgba(112, 180, 197, 0.753);
      
}

@media screen and (min-width: 768px) {
    .section {
        width: 700px; 
    }
    #time_sel_cont>p{ 
        width: 240px; 
    }
    #time_select {
        width: 400px; 
    }
}