:root{
    --dark: #3f3e3e;
    --aqua: #67f8f8; 
    --light: white; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
    color: var(--aqua); 
    font-family:monospace; 
}

.hide{
    display: none;
}

#welcome{
    background-color: var(--dark); 
    text-align: center;
} 

/* Brain Breaks */
h1{
    text-align: center;
    font-size: 2.5em; 
    font-family: 'Major Mono Display', monospace;
    text-shadow: 3px 3px 8px var(--aqua);
    color: var(--aqua); 
}

#entername{
   padding: 30px;
}
#submitname {
    width: 100px;
    height: 50px;
    margin-top: 50px;
    background-color: darkcyan;
    border: 2px white;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 0 30px #85cf6d;
}
/* ------------------------------------------------ */

#set_time{
    height: 812px;
    background: #fff;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items:center;
    background-color: grey;

}

#time_sel_cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#set_time_btn{
    margin-top: 20px;

}

#time_select{
    width: 300px;
}

#selected_time{
    margin-top:20px
}

output{
    margin-top: 20px;
}

/* ------------------------------------------------ */

.chooseMeme{
height: 825px;
background-color: var(--dark);
}


/* ------------------------------------------------ */


#countdown{
    height: 812px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#countdown svg{
    position: absolute;
    height: 40%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.clock_container{
    
}

#playBtn{
    /* color: rgb(35, 224, 17); */
    font-size: 50px;
    position: absolute;
    bottom: 10%;
}

#plus_one{
    /* color: #fff; */
    font-size: 20px;
    margin-top: 20px;

}

#time_display{
/* color: #fff; */
}

#time_display{
    position: absolute;
    bottom: 50%;
    font-size: 50px;
}



/* ------------------------------------------------ */

#break-page{
    background-color: aqua;
    height: 812px;
}

#break-title{
    text-align: center;
    padding-top: 50px;
}

#break-button{
    margin-left: 36%;
    margin-top: 10%;
    padding: 10px;
    border: white;
    border-radius: 5px;
    background-color: darkcyan;
    
}

#good-job{
    text-align: center;
    font-size: 20px;
    margin-top: 10%;

}

#break-img{
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;

}