:root{
    --dark: #3f3e3e;
    --aqua: #67f8f8; 
    --light: white; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
    color: var(--aqua); 
    background-color: var(--dark); 
    font-family:monospace; 
}
.hide {
    display:none; 
}

.show {
    display:block; 
}

#welcome{
    background-color: var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 812px;
} 

/* Brain Breaks */
h1{
    text-align: center;
    font-size: 2.5em; 
    font-family: 'Major Mono Display', monospace;
    text-shadow: 3px 3px 8px var(--aqua);
    color: var(--aqua); 
}

#welcome-alert{
    justify-content: center;
    width: 350px;
    text-align: center;
    margin: 40px 0; 
}

.entername{
    font-family: monospace; 
    color: white;
    text-align: center;
}

.entername:focus {
    text-shadow: 2px 2px 5px white;
}
.btn{
    margin-top: 50px;
    background-color: darkcyan;
    border: 2px white;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 0 0 30px var(--aqua);
    cursor: pointer;
}
/* ------------------------------------------------ */

#set_time{
    height: 812px;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align: center;
}

#time_sel_cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#focus-time, #calc_break_time {
    color: white; 
    text-shadow: 2px 2px 5px white;
}

#set_time_btn{
    margin-top: 20px;

}

#time_select{
    width: 300px;
}

#selected_time{
    margin-top:20px
}

output{
    margin-top: 20px;
    font-size: 1.5em;
}

#calc_break_time {
    font-size: 1.5em;
}

/* ------------------------------------------------ */

.chooseMeme{
height: 825px;
background-color: var(--dark);
}


/* ------------------------------------------------ */


#countdown{
    height: 812px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#countdown svg{
    position: absolute;
    height: 40%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#playBtn, #pauseBtn{
    /* color: rgb(35, 224, 17); */
    font-size: 50px;
    position: absolute;
    bottom: 10%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



#plus_one{
    /* color: #fff; */
    font-size: 20px;
    margin: 2rem 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

#time_display{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* ------------------------------------------------ */

#break-page{
    background-color: aqua;
    height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deezer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
#deezer>iframe {
    width: 200px; 
}

#break-title{
    text-align: center;
    padding-top: 50px;
    color: var(--dark);
}

#break-button{
    padding: 10px;
    border: white;
    border-radius: 5px;
    background-color: darkcyan;
    
}

#good-job{
    text-align: center;
    font-size: 20px;
    color: var(--dark);

}

#break-img{
    width: 50%;
    margin-bottom: 4rem;

}

/* ------------------------------------------------ */

.meme_viewer{
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

.swiper-slide{
    color: black;
    text-align: center;
    background-color: #242424;
    display: flex;
    align-items: center;
}

.swiper-container {
    width: 345px;
    height: 812px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #test_1{
      background-color: pink;

  }

#test_2{
    background-color: rgba(112, 197, 112, 0.753);
      
  }

  #test_3{
    background-color: rgba(112, 180, 197, 0.753);
      
}

